{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col s12 m8">
      <div class="card white darken-1 center" style="width: 300%; margin-left: -50%;" >
        <div class="card-content blue-grey-text">
          <span class="card-title">Register</span>
          <div class="row">
          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">First Name</label>
        </div>
          </div>
          <div class="row">
                <div class="input-field col s12">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
              </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">Email ID</label>
                      </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Mobile Number</label>
                              </div>
                                </div>
        </div>
        <div class="card-action  blue-grey lighten-4">
          <a href="/check"><b>Proceed</b></a>
        </div>
      </div>
    </div>
  </div>
            

{% endblock %}