{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col s12 m8">
        <div class="card white darken-1 center" style="width: 300%; margin-left: -50%;" >
            <div class="card-content blue-grey-text">
                <span class="card-title">Register</span>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.fname(class="validate") }}
                            {{ form.fname.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.lname(class="validate") }}
                                {{ form.lname.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.email(class="validate") }}
                                {{ form.email.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.mobile(class="validate") }}
                                {{ form.mobile.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.company(class="validate") }}
                                {{ form.company.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.position(class="validate") }}
                                {{ form.position.label() }}
                        </div>
                    </div>
                    <div class="row">
                       {{ form.submit(class="btn blue-grey orange-text waves-effect waves-light") }}
                    </div>
                    </form>
            </div>
           
        </div>
    </div>
</div>
            

{% endblock %}