{% extends 'layout.html'%}
{% block body %}
<div class="row" style="margin-top: 20px;">
  <div class="col s12 m10 offset-m1">
    <div class="card white center">
      <div class="card-content blue-grey-text">
        <span class="card-title">What is GDPR Regulations?</span>
        <p>The General Data Protection Regulation (GDPR) requires organizations handling the personal data of European Union citizens to keep that data secure, and it levies big penalties to organizations that fail to comply. Unfortunately, traditional security monitoring solutions may fall short of helping organizations meet GDPR requirements.</p>
      </div>
      <div class="card-action">
        <a href="/details"><b>Click here to take GDPR assessment</b></a>
      </div>
    </div>
  </div>
</div>




{% endblock %}